body {
    /* margin: 30px 0; */
    color: rgb(58, 68, 47);
    text-align: center;
}
.page {
    width: 80%;
    margin: auto;
    text-align: center;
}
#matter {
    padding: 10px 5px ;
}

#myPic {
    border-radius: 45%;
    padding: 2px;
    border: 3px solid greenyellow;
}

#address {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0;
}
img {
    filter: grayscale(50%)
}
#address p {
    margin: 0 20px;
}

#contact>a {
    margin: 15px 25px;
}
#courses {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    justify-content: center;
}
#courses div {
    margin: 15px;
    padding: 6px;
    border: 1px solid;
    border-radius: 10px;
}
#imageDot {
    color:rgb(178, 245, 101);
    padding: 4px;
    background-color: rgb(178, 245, 101);
    border-radius: 50%;
}
#cards {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cards div {
    padding: 5px;
    margin: 0px 20px 10px;
    border: 1px solid greenyellow;
    border-radius: 10px;
}

#timings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid;
    margin: 2%;
    border-radius: 10px;
}
.numP {
    width: 50px;
    height: 50px;
    padding: 34px;
    font-size: xx-large;
    font-weight: bolder;
    border-radius: 50%;
    border: 8px solid olivedrab;
    /* background-color: rgb(233, 233, 83); */
}
.numP~p {
    font-size: x-large;
}
#gitCommits {
    display: block;
    padding: 4px;
    border: 1px solid;
    border-radius: 6px;
}

h2 {
    color: blue;
    border-bottom: 1px solid gray;
    display: inline;
}
#projectCards {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 0;
}

#projectCards>div {
    width: 300px;
    padding: 3px;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
}

.cardBody {
    margin: 10px;
}

.cardBody2 {
    border-top: 1px solid;
    display: flex;
    justify-content: center;
}

.cardBody2 img {
    margin: 10px;
}

.htmlBtn {
    width: 25%;
    padding: 5px;
    background-color: rgb(62, 116, 1);
    border-radius: 3px;
    border: 1px solid;
    margin: 0 5px;
}

.htmlBtn:hover {
    background-color: rgb(209, 101, 0);
    border: 1px solid orange;
}

.htmlBtn>a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}

h1 {
    text-align: center;
    display: inline;
    color: blue;
    border-bottom: 1px solid;
}

#resumeBtn {
    padding: 3px 8px;
    border: 1px solid orange;
    border-radius: 6px;
    font-size: x-large;
    font-family: sans-serif;
    margin: 30px 0;
    background-color: rgb(49, 43, 43);
}

#resumeBtn:hover {
    background-color: rgb(245, 177, 50);
}

#resumeBtn a {
    text-decoration: none;
    color: whitesmoke;
}