body {
    color: rgb(58, 68, 47);
    text-align: center;
}
.page {
    /* background-color:rgb(135, 250, 192); */
    width: 80%;
    margin: auto;
    text-align: center;
}
#matter {
    padding: 10px 5px ;
}

#myPic {
    border-radius: 45%;
    padding: 2px;
    border: 3px solid greenyellow;
}

#address {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0;
}
img {
    filter: grayscale(50%)
}
#address p {
    margin: 0 20px;
}

#contact>a {
    margin: 15px 25px;
}
#courses {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}
#courses div {
    margin: 15px;
    padding: 6px;
    border: 1px solid;
    border-radius: 10px;
}
#imageDot {
    color:rgb(178, 245, 101);
    padding: 4px;
    background-color: rgb(178, 245, 101);
    border-radius: 50%;
}
#cards {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cards div {
    padding: 5px;
    margin: 0px 20px 10px;
    border: 1px solid greenyellow;
    border-radius: 10px;
}
#timings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid;
    margin: 10px;
    border-radius: 10px;
}
.numP {
    padding: 30px;
    font-size: xx-large;
    font-weight: bolder;
    border-radius: 50%;
    border: 8px solid olivedrab;
    /* background-color: rgb(233, 233, 83); */
}
.numP~p {
    font-size: x-large;
}
#gitCommits {
    display: inline-block;
    padding: 4px;
    border: 1px solid;
    background-color: thistle;
    border-radius: 6px;
}

h2 {
    color: blue;
}
#projectCards {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#projectCards>div {
    width: 300px;
    padding: 3px;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
}

.cardBody {
    margin: 5px 10px;
}

.htmlBtn {
    width: 25%;
    padding: 5px;
    background-color: rgb(113, 122, 103);
    border-radius: 8px;
}

.btn2 {

    padding: 5px;
    background-color: rgb(113, 122, 103);
    border-radius: 8px;
}

.htmlBtn>a,
.btn2>a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: rgb(167, 167, 62);
}
